<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner">
        <div class="page-logo">
            <a>
                <!--
                放上你的Logo
                <img src="${rc.contextPath}/img/logo.jpg" alt="logo" style="margin-top:5px;width:120px;" class="logo-default"/>
                -->
            </a>
            <div class="menu-toggler sidebar-toggler">
            </div>
        </div>

        <div class="top-menu pull-left">
            <ul class="nav navbar-nav">
                <li><a href="${rc.contextPath}/index">Jungle框架WEB模板后台</a></li>
            </ul>
        </div>

        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a target="_blank" href="https://v.qq.com/"
                       data-hover="dropdown">
                        <span>QQ视频</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="www.baidu.com"
                       data-hover="dropdown">
                        <span>百度</span>
                    </a>
                </li>
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="username username-hide-on-mobile">Mr.Jungle</span>
                    </a>
                </li>
                <li class="dropdown dropdown-quick-sidebar-toggler">
                    <a href="${rc.contextPath}/j_spring_cas_security_logout" class="dropdown-toggle">
                        <i class="icon-logout"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>