<script type="text/javascript">
    var __ctx = "${rc.contextPath}";
</script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/jquery.serializeObject.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/jquery.blockui.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/vue.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/vue-resource.js"></script>
<script src="${rc.contextPath}/js/metronic.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/layout.js" type="text/javascript"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="${rc.contextPath}/js/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/plugins/bootstrap-toastr/toastr.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/icheck/icheck.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/sweetalert.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/fileinput/fileinput.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/fileinput/fileinput_locale_zh.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/widget/vue.page.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/widget/vue.select.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/widget/vue.select.group.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/widget/vue.filter.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/widget/vue.icheck.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/alertify.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/widget/jqueryExtend.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/moment.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/table/tablehead.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/plugins/bootstrap-calendar/fullcalendar.js"></script>

<script type="text/javascript">
    $(document).ajaxStart(function (e) {
        Metronic.blockUI({boxed: true});
    });
    $(document).ajaxStop(function () {
        Metronic.unblockUI();
    });

    // CSRF
    debugger;
    var csrfHeader = {'${_csrf.headerName}': '${_csrf.token}'};
    jQuery.ajaxSetup({
        headers: csrfHeader,
        error: function (err) {
            toastr.error(err, '', {timeOut: 3000, positionClass: "toast-top-center"});
        }
    });

    // SSO error
    $(document).ajaxError(function (event, xhr, options) {
        try {
            var returnMsg = xhr.responseText;
            var returnObj = JSON.parse(returnMsg);
            if (returnObj.code == 'LY0500102003') {
                toastr.error(returnObj.message + '请刷新页面', '', {timeOut: 3000, positionClass: "toast-top-center"});
            }
            if (returnObj.code == 'LY0500102007') {
                window.location.href = __ctx + '/page/error/403';
            }
        } catch (e) {
        }
    });

    jQuery(document).ready(function () {
        Metronic.init();
        Layout.init();
        // UITree.layoutInit();
        // $("#formModal").draggable({
        //     handle: ".modal-header"
        // });
    });
</script>