<style>
    .page-sidebar-menu::-webkit-scrollbar {
        display: none
    }

    .sidebar-defined {
        max-height: 90%;
        overflow-y: scroll;
    }

    .sidebar-defined-li {
        max-height: 200px;
        overflow-y: scroll;
    }
</style>
<div class="page-sidebar-wrapper" id="leftHead">
    <div class="page-sidebar navbar-collapse collapse">
        <ul id="ulMenu" class="page-sidebar-menu page-sidebar-menu-closed sidebar-defined" data-keep-expanded="false"
            data-auto-scroll="true" data-slide-speed="200" style="width:270px; position: fixed; z-index: 2000;">
            <input class="form-control" id="menuName" name="menuName" v-model="menuName" placeholder="请输入..."></input>
            <li>
                <a href="javascript:;"><i class="icon-energy"></i><span class="title">系统管理</span><span class="arrow "></span></a>
                <ul class="sub-menu ul-sec">
                    <li><a href="#" target="_blank"><i class="fa fa-cab"></i>菜单一</a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-cab"></i>菜单二</a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-cab"></i>菜单三</a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-cab"></i>菜单四</a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-cab"></i>菜单五</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="icon-diamond"></i><span class="title">销售管理</span><span class="arrow open"></span></a>
                <ul class="sub-menu ul-sec">
                    <li>
                        <a href="javascript:;"><i class="icon-diamond"></i><span class="title">产品管理</span><span class="arrow"></span></a>
                        <ul class="sub-menu ul-third">
                            <li><a href="#"><i class="fa fa-list"></i>菜单一</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单二</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单三</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单四</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-drawer"></i><span class="title">商品管理</span><span class="arrow"></span></a>
                        <ul class="sub-menu ul-third">
                            <li><a href="#"><i class="fa fa-list"></i>菜单一</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单二</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单三</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单四</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-notebook"></i><span class="title">规则管理</span><span class="arrow"></span></a>
                        <ul class="sub-menu ul-third">
                            <li><a href="#"><i class="fa fa-list"></i>菜单一</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单二</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单三</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单四</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-reddit"></i><span class="title">渠道管理</span><span class="arrow"></span></a>
                        <ul class="sub-menu ul-third">
                            <li><a href="#"><i class="fa fa-list"></i>菜单一</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单二</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单三</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单四</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="icon-plane"></i><span class="title">交易管理</span><span class="arrow "></span></a>
                <ul class="sub-menu ul-sec">
                    <li>
                        <a href="javascript:;"><i class="icon-trophy"></i><span class="title">订单管理</span><span class="arrow"></span></a>
                        <ul class="sub-menu ul-third">
                            <li><a href="#"><i class="fa fa-list"></i>菜单一</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单二</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单三</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单四</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-crop"></i><span class="title">工单管理</span><span class="arrow"></span></a>
                        <ul class="sub-menu ul-third">
                            <li><a href="#"><i class="fa fa-list"></i>菜单一</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单二</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单三</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>菜单四</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="modal fade" id="publishModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:800px">
        <div class="modal-content"></div>
    </div>
</div>
<div id="logModal" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
    <div class="modal-dialog" role="document" style="width:1200px">
        <div class="modal-content">

        </div>
    </div>
</div>
<script src="${rc.contextPath}/js/widget/sidebar-menu.js"></script>