<div style="text-align: center;margin-top: 13%;font-size: 40px;">欢迎进入Jungle框架WEB模板后台</div>
<div style="text-align: center;margin-top: 1%;font-size: 40px;"><img src="${rc.contextPath}/img/flight.jpg"/></div>