#set( $symbol_pound = '#' )
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="" name="description"/>
	<meta content="" name="author"/>
	<meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>天启</title>
    <script src="${rc.contextPath}/js/plugins/pace/pace.min.js" type="text/javascript"></script>
    ${symbol_pound}parse("widget/css-loader.vm")
    <script src="${rc.contextPath}/js/plugins/jquery-1.12.2.min.js" type="text/javascript"></script>
	<script src="${rc.contextPath}/js/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body class="page-header-fixed page-quick-sidebar-over-content page-container-bg-solid page-sidebar-closed page-sidebar-closed-hide-logo">
	${symbol_pound}parse("widget/header-menu.vm")
	<div class="page-container">
		${symbol_pound}parse("widget/sidebar-menu.vm")
		<div class="page-content-wrapper">
			<div class="page-content">
				$screen_content
			</div>
		</div>
	</div>
	${symbol_pound}parse("widget/footer.vm")
	${symbol_pound}parse("widget/js-loader.vm")
</body>
</html>