body {
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",SimSun,sans-serif;
  font-size: 14px;
  direction: ltr;
  margin:0; 
}

.page-container-bg-solid .page-content {
    background: #FFF;
}

.page-header.navbar {
    background-color: #09c;
}

.page-header.navbar .top-menu .navbar-nav > li {
    margin: 0px;
    padding: 0px 4px;
    height: 46px;
    display: inline-block;
}
.page-header.navbar .top-menu .navbar-nav > li > a {
    color: #fff;
    padding: 14px 6px 12px 8px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #008fbf;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
	color: #fff;
    font-size: 14px;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .selected, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .selected, .page-sidebar .page-sidebar-menu > li.active.open > a > .selected, .page-sidebar .page-sidebar-menu > li.active > a > .selected {
    top: 0px;
    right: -8px;
    border-top: 20px double transparent;
    border-bottom: 20px double transparent;
    border-right: 0;
    border-left: 0px solid #DCDCDC;
}

.page-tree-content {
    margin-top: 0px;
    padding: 0px;
    background-color: #fff;
	border-right: 1px solid #DCDCDC;
	overflow: auto;
    box-shadow: none;
}

.red {
	color: red;
}

[v-cloak] {
	display: none;
}

.passenger-pnr-td-display-inlineflex
{
    display: inline-flex;
}
.passenger-pnr-td-input
{
    width: 80%;
}